h1 {
    text-align: center;
}

.container {
    height: auto;
    position: relative;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

img {
    height: 100vh;
    width: 75%;
    vertical-align: middle;
}

.btn-left {
    top: 50%;
    position: absolute;
}

.btn-right {
    top: 50%;
    position: absolute;
}
