@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 20px;
}

.navElement {
    font-size: 15px;
    border-radius: 0.5em;
    text-decoration: none;
    padding-left: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.media {
    flex-grow: 1;
}

.media-btn {
    height: 100px;
    width: 100px;
    margin: 2%;
    align-self: center;
    border-radius: 50px;
}

section {
    display: flex;
    justify-content: center;
}

.description {
    margin-top: 15px;
    width: 78%;
}

.fav-btn {
    border-radius: 0.5em;
    align-self: flex-start;
}

.deleteAll {
    background-color: rgb(184, 55, 46);
    color: white;
    margin: 2em;
    border-radius: 0.5em;
}

.card {
    margin: 2em;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.192);
}

.card-image {
    height: 175px;
    width: 300px;
}
