.navbar {
    height: 4em;
    background-color: gray;
    margin: -1em -0.5em 0;
}

.navElement {
    margin-top: 1.9em;
    margin-left: 1.5em;
    display: inline;
    font-size: 15px;
    border-radius: 0.5em;
    text-decoration: none;
}
